

.bluebtn{ 
    background-image: linear-gradient(#4776E6,#8E54E9);
    border-radius: 35px;
  width: 160px;
  height: 45px;
}

/* hero section */
.gradient-text {
  background: linear-gradient(90deg, #7f00ff, #e100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.hero {
   background-color: #5E5CE6;
    border-radius: 35px;
  width: 160px;
  height: 45px;
}
.admin-title {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 10px;
}
.call{font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
 }

.description-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

